allow cameraserver aosp_data_file:file rw_file_perms;
allow cameraserver aosp_data_file:dir write;
allow cameraserver system_data_file:dir { add_name write create };
