on boot
    chown system system  /sys/class/drm/card0-DSI-1/native_display_p3_mode
    chown system system  /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode

# Set sRGB calibration on Natural and Boosted Mode.
on property:persist.sys.sf.native_mode=0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 1

# Set unmanaged calibration on Saturated Mode.
on property:persist.sys.sf.native_mode=1
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 0

# Set P3 calibration on Adaptive/Automatic Mode.
on property:persist.sys.sf.native_mode=2
    write /sys/class/drm/card0-DSI-1/native_display_srgb_color_mode 0
    write /sys/class/drm/card0-DSI-1/native_display_p3_mode 1
